{% extends 'base.html' %}
 
{% load static %}
<script src = "{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>


{% block content %}
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">All Providers</h1>
			<p class="lead">This is a table of all providers</p>
		</div>
	</div>
	</div>
	</div>
	
	<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
	<table class="table table-hover table-bordered" id="example" width="100%" cellspacing="0" style="background-color: white">
	    <thead>
            <tr>
                <th>ID</th>
				<th>First Name</th>
                <th>Last Name</th>
                <th>Street Address</th>
                <th>Street Address 2</th>
                <th>City</th>
                <th>State</th>
				<th>Zipcode</th>
                <th>Updated</th>
            </tr>
        </thead>
	</table>
	
	
	</div>
	</div>

{% endblock %}






{% block javascript %}
<script>
$(document).ready(function(){

	$.ajax({
		url: 'http://localhost:8000/api/provider/?format=json',
		dataType: 'json',
		beforeSend : function( xhr ) {
			xhr.setRequestHeader( "Authorization", "Token 0e0e7a7a8c2410ebf7b046cb2d6c82c21257ae64");
		},
		success: function(data) {
		$('#example').DataTable({
		data: data,
			"columns": [
				{ "data": "id" },
				{ "data": "first_name" },
				{ "data": "last_name" },
				{ "data": "street_address" },
				{ "data": "street_address2" },
				{ "data": "city" },
				{ "data": "state" },
				{ "data": "zipcode" },
				{ "data": "updated_date" }
			]
		});
		},
		error: function(e) {
			console.log(e.responseText);
		}
    });
 });
</script>
{% endblock %}

